# Eclipse
.settings
.settings/
bin

# vs code
.vscode

# Runtime files
*.log
.lock
*.tmp

# build directories
**/bin
**/out

# compiled code
*.class
*.exe

#latex build files
*.aux
*.bbl
*.blg
*.fdb
*.fdb*
*.fls
*.out
*.synctex.gz
*.toc
*.pdf
*.synctex(busy)
*.fdb_latexmk
