# InteliJ stuff
.idea
.idea/
*.iml
*.iws
*.eml

# Eclipse
.settings
.settings/
bin
.classpath
.project

# vs code
.vscode

# Runtime files
*.log
.lock
*.lck
*.tmp

# build directories
**/bin
**/out

# compiled code
*.class
*.exe

#latex build files
*.aux
*.bbl
*.blg
*.fdb
*.fdb*
*.fls
*.out
*.synctex.gz
*.toc
*.pdf
*.synctex(busy)
*.fdb_latexmk
