@import 'theme/colors';
@import 'theme/spacings';
@import 'theme/shadows';

.userAppBar {
  width: 100%;
  height: 164px;
  background-color: $color-blue-800;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  box-shadow: $shadow-300;
}

.logoText {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 48px;
  margin-right: $spacing-12;
}

.title {
  color: $color-white;
}

.navigation {
  width: 100%;
  height: $spacing-64;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emailButton {
  margin-right: $spacing-16;
}
