@import 'theme/colors';
@import 'theme/shadows';

.container {
  width: fit-content;
  background-color: $container-card-background;
  padding: 24px;
  border-radius: 4px;
  box-shadow: $shadow-200;
}
