$color-white: white;

// Colors taken from Refactoring UI Palette 2
$color-blue-050: #dceefb;
$color-blue-100: #b6e0fe;
$color-blue-200: #84c5f4;
$color-blue-300: #62b0e8;
$color-blue-400: #4098d7;
$color-blue-500: #2680c2;
$color-blue-600: #186faf;
$color-blue-700: #0f609b;
$color-blue-800: #0a558c;
$color-blue-900: #003e6b;

$color-yellow-050: #fffbea;
$color-yellow-100: #fff3c4;
$color-yellow-200: #fce588;
$color-yellow-300: #fadb5f;
$color-yellow-400: #f7c948;
$color-yellow-500: #f0b429;
$color-yellow-600: #de911d;
$color-yellow-700: #cb6e17;
$color-yellow-800: #b44d12;
$yellow-vivid-900: #8d2b0b;

$color-grey-050: #f0f4f8;
$color-grey-100: #d9e2ec;
$color-grey-200: #bcccdc;
$color-grey-300: #9fb3c8;
$color-grey-400: #829ab1;
$color-grey-500: #627d98;
$color-grey-600: #486581;
$color-grey-700: #334e68;
$color-grey-800: #243b53;
$color-grey-900: #102a43;

$color-red-300: #f86a6a;
$color-red-400: #ef4e4e;
$color-red-500: #e12d39;
$color-red-600: #cf1124;
$color-red-700: #ab091e;

$color-green-300: #51ca58;
$color-green-400: #31b237;
$color-green-500: #18981d;
$color-green-600: #0f8613;
$color-green-700: #0e7817;
