@import 'theme/colors';
@import 'theme/shadows';
@import 'theme/fonts';
@import 'theme/spacings';

.primaryButton {
  @extend %font-section-header;
  line-height: 1;
  color: $color-white;

  padding: $spacing-8 $spacing-16;
  border-radius: 4px;
  box-shadow: $shadow-100;
  background-color: $color-blue-500;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  outline-color: $color-blue-500;
  width: fit-content;

  &:hover {
    box-shadow: $shadow-200;
    background-color: $color-blue-600;
  }

  &:disabled {
    background-color: $color-grey-300;
    color: $color-grey-900;
    box-shadow: none;
    cursor: default;
  }
}

.secondaryButton {
  @extend %font-section-header;
  line-height: 1;
  color: $color-grey-900;

  padding: $spacing-8 $spacing-16;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  width: fit-content;

  outline-color: $color-blue-500;

  &:hover {
    background-color: $color-blue-100;
  }

  &:disabled {
    cursor: default;
    color: $color-grey-400;
    &:hover {
      background-color: transparent;
    }
  }
}

.invButton {
  @extend %font-section-header;
  line-height: 1;
  color: $color-white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  outline-color: $color-blue-500;

  &:hover {
    box-shadow: $shadow-200;
    background-color: $color-blue-600;
  }
}
