.container {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding-top: 0px;
}

.compared {
  position: absolute;
  font-weight: bold;
  left: 390px;
  top: 40px;
}

.textTitle {
  font-weight: bold;
  position: absolute;
  left: 105px;
}

.button {
  width: 500px;
  height: 82px;
  &:hover {
    background-color: transparent;
  }
}

.arrow {
  position: absolute;
  left: +440px;
  top: 40px;
}

.textDatum {
  font-weight: bold;
  position: absolute;
  left: +340px;
}

.textZählerstand {
  position: absolute;
  left: 105px;
  top: 40px;
}
