@import 'theme/colors';
@import 'theme/shadows';
@import 'theme/spacings';
@import 'theme/fonts';

.textarea {
  @extend %font-span;

  border-radius: 4px;
  border: 1px solid $color-grey-400;
  padding: $spacing-4 $spacing-8;
  resize: vertical;
  min-height: $spacing-48;

  &:focus {
    border: 1px solid $color-blue-700;
    outline: none;
  }

  &[data-error='true'] {
    border: 1px solid $color-red-600;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.error {
  @extend %font-small;

  color: $color-red-600;
  height: calc(1.5 * 14px);
}

.label {
  @extend %font-span;
}
