@import 'theme/colors';
@import 'theme/spacings';
@import 'theme/fonts';

.mainContainer {
  width: 100%;
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-32;
}

.headerTextGroup {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  & > :first-child {
    margin-right: $spacing-12;
  }
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.leftGroup {
  display: flex;
  align-items: center;

  & > :first-child {
    margin-right: $spacing-24;
  }
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: $spacing-16;
}

.addButton {
  @extend %font-span;
  padding: 0;
  border: none;
  background: none;
  color: $color-yellow-600;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    outline-color: $color-yellow-500;
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.textRight {
  text-align: right;
}

.goodTrend {
  color: $color-green-500;
}

.badTrend {
  color: $color-red-500;
}
